@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  font-family: 'Indie Flower', cursive;
}

p {
  word-wrap: break-word;
}

/*Navbar*/
@keyframes navbar {
    from {
      background-color: transparent;
      height: 0vh;
    }
    to {
      background-color: rgb(206, 206, 210) !important;
      height: 7vh;
    }
}

.navbar {
  background-color: rgb(7, 8, 8) !important;
  height: 7vh;
  animation-name: navbar;
  animation-duration: 1s;
}

@keyframes navlink {
    from {
      color: transparent;
    }
    to {
      color: #002E79 !important;
    }
}

.nav-link {
    color: rgb(92, 195, 99) !important;
  font-size: 1.8em;
  animation-name: navlink;
  animation-duration: 2s;
}

/*Navbar 2*/
@keyframes navbar2 {
    from {
      background-color: transparent;
    }
    to {
    background-color: rgb(206, 206, 210) !important;
    }
}

.navbar2 {
  background-color: white !important;
  height: 8vh;
  animation-name: navbar2;
  animation-duration: 1s;
}

.navbar2 .nav-link {
  color: rgb(7, 8, 8) !important;
  font-size: 1.5em;
}

/*Accueil*/
@keyframes accueil {
    from {
      height: 10vh;
      color: transparent;
    }
    to {
      height: 93vh;
      color: #fff;
    }
}

.accueil {
  color: #fff;
  height: 93vh;
  background-image: url('./images/bg-accueil.jpg');
  background-size: 100% 100%;
  animation-name: accueil;
  animation-duration: 1s;
}

.accueil h1 {
  font-size: 4em;
  font-weight: bold;
}

.accueil h2 {
  font-size: 3em;
  color: rgb(92, 195, 99);
}

/*ul, li*/

li {
  list-style-type: none;
}

/*Cours*/
.cours {
  width: 80%;
  margin: auto;
}

.cours-container {
  color: #001A66;
  height: 93vh;
}

/*Form*/

.displayFormButton:hover {
  cursor: pointer;
}
